/* styles.css */

body {
    font-family: Arial, sans-serif;
}

#app {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

#auth-container {
    margin-bottom: 20px;
}

#sign-up-form,
#sign-in-form {
    margin-top: 20px;
}
